{% load i18n %}
{% load static %}
<div class="sidebar" data-color="blue">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="/election/dashboard/" class="simple-text logo-normal">
            <img src="{% static 'img/mieuxvoter.svg' %}" />
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.resolver_match.url_name == "vote" %}class="active"{% endif %}>
                <a href="/vote/">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>{% trans "Vote" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "results" %}class="active"{% endif %}>
                <a href="/results/{{ election.pk }}/" id="go_results">
                    <i class="now-ui-icons sport_trophy"></i>
                    <p>{% trans "Results" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "candidates" %}class="active"{% endif %}>
                <a href="/candidates/{{ election.pk }}">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>{% trans "Candidates" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "manage" %}class="active"{% endif %}>
                <a href="/">
                    <i class="now-ui-icons files_box"></i>
                    <p>{% trans "Create an election" %}</p>
                </a>
            </li>


        </ul>
    </div>
</div>
