<div class="sidebar" data-color="blue">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        {% if voter.election.supervisor.organisation.name %}
            {% if voter.election.supervisor.organisation.site %}
            <a href="{{ voter.election.supervisor.organisation.site }}" class="simple-text logo-mini">
                {{ voter.election.supervisor.organisation.name }}
            </a>
            {% else %}
            <span class="simple-text logo-mini">
                {{ voter.election.supervisor.organisation.name }}
            </span>
            {% endif %}
        {% elif voter.user.first_name or voter.user.last_name %}
            {{ voter.user.first_name | title }} {{ voter.user.last_name | title }}
        {% else %}
        <a href="http://www.mieux-voter.fr" class="simple-text logo-normal">
            Mieux Voter
        </a>
        {% endif %}
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.resolver_match.url_name == "vote" %}class="active"{% endif %}>
                <a href="/vote/">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>Voter</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "results" %}class="active"{% endif %}>
                <a href="/results/{{ election.pk }}/">
                    <i class="now-ui-icons sport_trophy"></i>
                    <p>Résultats</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "candidates" %}class="active"{% endif %}>
                <a href="/candidates/{{ election.pk }}">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Candidats</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "manage" %}class="active"{% endif %}>
                <a href="/">
                    <i class="now-ui-icons files_box"></i>
                    <p>Créer une élection</p>
                </a>
            </li>


        </ul>
    </div>
</div>
