{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}


{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans "Vote cast" %}</h4>
                </div>
                <div class="card-body">
                    {% trans "Congratulations! Your vote has successfully been recorded!" %}
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock content %}
