{% extends 'base_page.html' %}
{% load static %}



{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Vote réussi</h4>
                </div>
                <div class="card-body">
                    Bravo ! Votre vote a bien été pris en compte :)
                </div>
            </div>
        </div>

    </div>
</div>



{% endblock content %}
