{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}

{% block extra_styles %}
<style>
label { color:white!important; }
</style>
{% endblock extra_styles %}

{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">{% trans "Vote" %}</h2>
        <p class="category">

        </p>
    </div>
</div>
{% endblock panel-header %}




{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> {% trans "Vote with the majority judgment" %}</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <form method="POST" action=".">
                        {% csrf_token %}


                    <table class="table">
                        <thead class=" text-primary">
                            <th>{% trans "Candidates" %}</th>
                            <th></th>
                        </thead>
                        <tbody>
                            {% for candidate in form %}
                                <tr>
                                    <td>{{ candidate.label | title}}</td>
                                    <td>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                {% for radio in candidate %}
                                    <label class="btn btn-primary">
                                      {{ radio.choice_label }}
                                      {{ radio.tag }}
                                    </label>
                                {% endfor %}
                                    </div>
                                </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        </table>


                        <button type=submit class="btn btn-primary" />
                            {% trans "Vote" %}
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




{% endblock content %}
