{% extends 'base_page.html' %}
{% load static %}


{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Voter</h2>
        <p class="category">
            Vote initié par <a href="#">Mieux Voter</a> le 1er avril 2018.
        </p>
    </div>
</div>
{% endblock panel-header %}




{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Voter avec le jugement majoritaire</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        <form method="POST" action=".">
                        {% csrf_token %}


                        <table class="table">
                            <thead class=" text-primary">
                                <th>Candidats</th>
                                {% for g in grades %}
                                <th {% if forloop.last %}class="text-right"{% endif %}>{{ g.name }}</th>
                                {% endfor %}

                                <!--    <th >
                                    Salary
                                </th> -->
                            </thead>
                            <tbody>
                                {% for candidate in form %}
                                    <tr>
                                        <td>{{ candidate.label | title}}</td>
                                    {% for radio in candidate %}
                                        <td {% if forloop.last %}class="text-right"{% endif %}>{{ radio }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <button type=submit class="btn btn-primary" />
                            Voter
                        </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>




{% endblock content %}
