{% extends 'base.html' %}
{% load static %}


{% block body %}

    <div class="main-panel" style="width:100%;">


        {% block panel-header %}
        <div class="panel-header">
            <div class="header text-center">
                <h2 class="title">Se déconnecter</h2>
    
            </div>
        </div>
        {% endblock panel-header %}


{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Se déconnecter</h4>
                </div>
                <div class="card-body">

                    <div class="account-box">
                        <a href="{% url 'login'%}">Cliquer ici pour se reconnecter.</a>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% endblock %}
