{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

    <div class="main-panel" style="width:100%;">


        {% block panel-header %}
        <div class="panel-header">
            <div class="header text-center">
                <h2 class="title">{% trans "Create an account" %}</h2>
            </div>
        </div>
        {% endblock panel-header %}


{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans "Create an account" %}</h4>
                </div>
                <div class="card-body">

                    <div class="account-box">
                        <form method="post">
                          {% csrf_token %}
                          {{ form.as_p }}
                          <button id="signup" type="submit">{% trans "Sign up" %}</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% endblock %}
