{% extends 'base_page.html' %}
{% load static %}


{% block panel-header %}
<div class="panel-header panel-header-sm">
</div>
{% endblock panel-header %}




{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Détail du candidat</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        Pas encore implémenté... :)
                    </div>
                </div>
            </div>
        </div>




{% endblock content %}
