{% extends 'base_page.html' %}
{% load static %}

{% block extra_styles %}
<style>
.main-panel {
    width:100%;
}
</style>
{% endblock extra_styles %}

{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">Tableau de bord</h2>
    </div>
</div>
{% endblock panel-header %}



{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg">
            <div class="card card-tasks">
                <div class="card-header">
                    <h4 class="card-title">Élections en cours</h4>
                </div>
                <div class="card-body">
                    {% if election_list == None %}
                    Vous n'avez pas encore créé d'élections.
                    {% else %}
                    <table class="table">
                        <thead>
                            <th>
                                    Nom
                            </th>
                            <th>
                                Statut
                            </th>
                            <th>
                                Nombre d'électeurs
                            </th>
                            <th>
                                Nombre de candidats
                            </th>
                            <th class="td-actions text-right">
                                Action
                            </th>
                        </thead>
                      <tbody>


                          {% for election in election_list %}
                          <tr>
                              <td>
                                {{ election.name }}
                              </td>

                              <td>
                                {{ election.get_state_display }}
                              </td>

                              <td>
                                <!-- <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ election.progress }}%" aria-valuenow="{{ election.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                {{ election.num_voters}}
                            </td>
                            <td>
                              <!-- <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ election.progress }}%" aria-valuenow="{{ election.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                              {{ election.num_candidates }}
                          </td>

                            <td class="td-actions text-right">
                                  <a href="/election/manage/general/{{ election.id }}/" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                      <i class="now-ui-icons ui-2_settings-90"></i>
                                  </a>
                                  <a href="/election/manage/delete_election/{{ election.id }}/" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </a>
                              </td>
                          </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                    {% endif %}
                    <hr/>
                    <a class="btn btn-success" href="/election/manage/general/" role="button">Créer une élection</a>
                <!-- END CARD BODY -->
                </div>

                <div class="card-header">
                    <h4 class="card-title">Vote en cours</h4>
                </div>
                <div class="card-body">
                {% if user_voters %}
                    {% for voter in user_voters %}
                    <table class="table">
                        <thead>
                            <th>    Nom </th>
                            <th> Statut </th>
                            <th> Début du vote </th>
                            <th> Fin du vote </th>
                            <th class="td-actions text-right"> Action </th>
                        </thead>
                      <tbody>


                      <tr>
                          <td> {{ voter.election.name }}</td>
                          <td> {{ voter.election.get_state_display }} </td>
                          <td> {{ voter.election.start }}</td>
                          <td> {{ voter.election.end }}</td>
                        <td class="td-actions text-right">
                            <a href="/candidates/{{ voter.election.pk }}/" rel="tooltip" title=""  data-original-title="Candidats">
                                  <i class="now-ui-icons business_badge"></i> Candidats
                              </a>
                            {% if not voter.has_voted %}
                              <a href="/vote/{{ voter.election.pk }}/" rel="tooltip" title="" data-original-title="Voter">
                                  <i class="now-ui-icons ui-1_email-85">Voter</i>
                              </a>
                            {% elif voter.ended %}
                            <a href="/results/{{ voter.election.pk }}/" rel="tooltip" title=""  data-original-title="Results">
                                <i class="now-ui-icons ui-1_email-85">Résultats</i>
                            </a>
                            {% endif %}
                          </td>
                      </tr>
                      </tbody>
                    </table>
                    {% endfor %}
                {% else %}
                    Vous ne figurez dans la liste électorale d'aucun vote en cours ou terminé.
                {% endif %}

                <!-- END CARD BODY -->
                </div>

            </div>
        </div>

    </div>


    <!-- <div class="row">
      <div class="col-md-6">
        <div class="card card-tasks">
          <div class="card-header">
            <h5 class="card-category">Tous les électeurs</h5>
            <h4 class="card-title">Statistiques des électeurs</h4>
          </div>
          <div class="card-body">
            <div class="table-full-width table-responsive">

            </div>
          </div>
          <div class="card-footer">
            <hr>
            <div class="stats">
              <i class="now-ui-icons loader_refresh spin"></i> Updated 3 minutes ago
            </div>
          </div>
      </div>
      </div>
      <div class="col-md-6">
          <div class="card">
            <div class="card-header">
                <h5 class="card-category">Tous les candidats</h5>
                <h4 class="card-title"> Statistiques des candidats</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th >
                        Nom
                      </th>
                      <th >
                        Image
                      </th>
                      <th >
                        Élection
                      </th>
                      <th  class="text-right" >
                        Classement
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                          Vous n'avez pas encore créé de candidats
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          </div>
      </div>
    </div> -->
</div>



{% endblock content %}
