{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}
{% block extra_styles %}
<style>
.main-panel {
    width:100%;
}
.navbar-toggle {
    display: none;
}
</style>
{% endblock extra_styles %}

{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">
        <h2 class="title">{% trans "Dashboard" %}</h2>
    </div>
</div>
{% endblock panel-header %}



{% block content %}
<div class="content">
    <div class="row">
        <div class="col-lg">
            <div class="card card-tasks">
                <div class="card-header">
                    <h4 class="card-title">{% trans "Your elections" %}</h4>
                </div>
                <div class="card-body">
                    {% if election_list == None %}
                      {% trans "You have not elections yet" %}
                    {% else %}
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th>
                                    {% trans "Name" %}
                            </th>
                            <th>
                                    {% trans "State" %}
                            </th>
                            <th>
                                  {% trans "Number of voters" %}
                            </th>
                            <th>
                                {% trans "Number of candidates" %}
                            </th>
                            <th class="td-actions text-right">
                                {% trans "Action" %}
                            </th>
                        </thead>
                      <tbody>


                          {% for election in election_list %}
                          <tr>
                              <td>
                                {{ election.name }}
                              </td>

                              <td>
                                {{ election.get_state_display }}
                              </td>

                              <td>
                                <!-- <div class="progress">
                                      <div class="progress-bar bg-success" role="progressbar" style="width: {{ election.progress }}%" aria-valuenow="{{ election.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div> -->
                                {{ election.voter_set.all|length }}
                            </td>
                            <td>
                              <!-- <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: {{ election.progress }}%" aria-valuenow="{{ election.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
                              </div> -->
                              {{ election.candidate_set.all|length }}
                          </td>

                            <td class="td-actions text-right">
                                  <a href="/election/manage/general/{{ election.id }}/" rel="tooltip" title="" class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Edit Task">
                                      <i class="now-ui-icons ui-2_settings-90"></i>
                                  </a>
                                  <a href="/election/manage/delete_election/{{ election.id }}/" rel="tooltip" title="" class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral" data-original-title="Remove">
                                      <i class="now-ui-icons ui-1_simple-remove"></i>
                                  </a>
                              </td>
                          </tr>
                         {% endfor %}
                      </tbody>
                    </table>
                </div>
                    {% endif %}
                    <hr/>
                    <a id="create_election" class="btn btn-success" href="/election/manage/general/" role="button">{% trans "Create an election" %}</a>
                <!-- END CARD BODY -->
                </div>

                <div class="card-header">
                    <h4 class="card-title">{% trans "Your votes" %}</h4>
                </div>
                <div class="card-body">
                {% if votes %}
                <table class="table">
                    <thead>
                        <th>    {% trans "Name" %} </th>
                        <th> {% trans "State" %} </th>
                        <!-- <th> Début du vote </th>
                        <th> Fin du vote </th> -->
                        <th>{% trans "Candidates "%}</th>
                        <th>{% trans "Action" %}</th>

                        <th class="text-right"> {% trans "Progress" %} </th>
                    </thead>
                  <tbody>
                    {% for election in votes %}
                      <tr>
                          <td> {{ election.name }}</td>
                          <td> {{ election.get_state_display }} </td>
                          <!-- <td> {{ voter.election.start }}</td>
                          <td> {{ voter.election.end }}</td> -->

                        <td>
                            <a href="/candidates/{{ election.pk }}/" rel="tooltip" title=""  data-original-title="Candidats">
                                  <i class="now-ui-icons design_bullet-list-67"></i> {% trans "View" %}
                              </a>
                        </td>
                        <td>
                            {% if not election.has_voted %}
                              <a href="/vote/{{ election.pk }}/" rel="tooltip" title="" data-original-title="Voter">
                                  <i class="now-ui-icons ui-1_email-85">{% trans "Vote" %}</i>
                              </a>
                            {% elif election.state == "OV" %}
                            <a href="/results/{{ election.pk }}/" rel="tooltip" title=""  data-original-title="Results">
                                <i class="now-ui-icons ui-1_email-85">{% trans "Results" %}</i>
                            </a>
                            {% endif %}
                          </td>
                          <td>
                               <div class="progress">
                                     <div class="progress-bar bg-success" role="progressbar" style="width: {{ election.progress }}%" aria-valuenow="{{ election.progress }}" aria-valuemin="0" aria-valuemax="100">{{ election.progress }} %</div>
                               </div>
                          </td>
                      </tr>

                    {% endfor %}
                </tbody>
              </table>
                {% else %}
                    {% trans "You are not registered into any election" %}
                {% endif %}

                <!-- END CARD BODY -->
                </div>

            </div>
        </div>

    </div>
</div>



{% endblock content %}
