{% extends 'base_page.html' %}
{% load static %}
{% load i18n %}


{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">

    </div>
</div>
{% endblock panel-header %}




{% block content %}
<div class="content">
    <div class="row">


        <!-- PARAMETERS -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans "Voters" %}</h4>
                    <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75 %</div>
                    </div>
                </div>
                <div class="card-body">
                    {% if success %}
                    <div class="alert alert-info" role="alert">
                      {{ success }}
                    </div>
                    {% endif %}
                    {% if error %}
                    <div class="alert alert-warning" role="alert">
                      {{ error }}
                    </div>
                    {% endif %}
                    {% if election.state != "DR" %}
                    <div class="alert alert-warning" role="alert">
                      {% trans "The election has already begun. It is too late to change the voters" %}
                    </div>
                    {% endif %}
                {% if voters %}
                <div class="table-responsive">
                    <table class="table" id="table">
                        <thead class=" text-primary">
                            <th>Prénom</th>
                            <th>Nom</th>
                            <th>
                                Email
                            </th>
                            {% if election.state == "DR" %}
                            <th> Action </th>
                            {% endif %}
                        </thead>
                        <tbody>
                            {% for voter in voters %}
                                <tr>
                                    <td>{{ voter.user.first_name | title}}</td>
                                    <td>{{ voter.user.last_name | title}}</td>
                                    <td>{{ voter.user.email }}</td>
                                    {% if election.state == "DR" %}<td><a href="/election/manage/delete/voter/{{ voter.id }}/" class="btn btn-info del">{% trans "Delete" %}</a></td>{% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}

                {% if election.state == "DR" %}
                <div class="alert alert-info" role="alert">
                  {% trans "Add voters line by line with the following format: last name, first name, email" %}
                </div>
                        <form method="post" novalidate>
                          {% csrf_token %}
                          {{ form }}
                          <button id="form-btn" class="btn btn-info" type="submit">{% trans "Add" %}</button>
                        </form>
                {% endif %}


                    {% if election.state == "DR" %}
                    <a href="/election/launch/{{ election_id }}/" class="btn btn-primary" id="go_start">
                        {% trans "Start the election" %}
                    </a>
                    {% endif %}
                    <a href="/election/manage/candidates/{{ election_id }}/" class="btn btn-info" id="go_candidates">
                        {% trans "Return to the options" %}
                    </a>
                    <a href="/election/manage/voters/{{ election_id }}/" class="btn btn-info" id="go_table">
                        {% trans "Add voters from a table" %}
                    </a>
                </div>
            </div>
        </div>





    </div>
</div>



{% endblock content %}
