{% extends 'base_page.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.min.css' %}">
  <script src="{% static 'js/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui-1.12.1.custom/jquery.ui.datepicker-fr.js' %}"></script>
  <script>
  $.datepicker.setDefaults(
  $.extend(
    {'dateFormat':'dd/mm/yy'},
    $.datepicker.regional['fr']
  )
);


  $( function() {
    $( "#id_start" ).datepicker();
    $( "#id_end" ).datepicker();
  } );

  </script>
{% endblock extra_styles %}


{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">

    </div>
</div>
{% endblock panel-header %}



{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Gestion de l'élection</h4>
                    <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="25" aria-valuemax="100">25 %</div>
                    </div>
                </div>
                <div class="card-body">
                    {% if election.state != "DR" %}
                    <div class="alert alert-warning" role="alert">
                        L'élection a déjà commencée, il est trop tard pour modifier les paramètres du vote.
                    </div>
                    {% endif %}

                    <form method="POST" action=".">
                    {% csrf_token %}

                    <div class="row">
                    {% for field in form %}
                         <div class="col-md-4">
                             <div class="form-group">
                            {{ field.errors }}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                            <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>


                    <div class="form-group row">
                        <label for="electionName" class="col-sm-2 col-form-label">Mode de scrutin</label>
                        <div class="col-sm-10">

                            <input id="jm" type="radio" name="test" value="1" disabled checked />
                            <label for="jm"> Jugement majoritaire</label>
                            <br/>
                            <input id="jm" type="radio" name="test" value="1" disabled  />
                            <label for="jm"> Scrutin majoritaire</label>
                            <!-- {% for radio in voting_system %}
                                {{ radio }}
                            {% endfor %} -->
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="electionGrade" class="col-sm-12 col-form-label">Mentions</label>

                        <div id="grade-collections" class="col-sm-10">
                          <div class="alert alert-info" role="alert">
                            Vous pouvez supprimer une mention en cliquant dessus. Les mentions doivent être classées de la meilleure à la pire.
                          </div>
                            {% for grade in grades %}
                                <a href="#"  class="btn {% if election.state == "DR" %}btn-info{% else %}btn-secondary{% endif %} btn-round grade" data-id-grade="{{ grade.id }}"><!--{{ forloop.counter}}. -->{{ grade.name }}</a    >
                            {% endfor %}
                            {% if election.state == "DR" %}
                            <!-- <form id="form-create-grade" method="post"  data-id-election="{{ election.pk }}"> -->
                                <input type="hidden" id="election-id" name="election-id" value="{{ election.pk }}">
                                <!-- {% csrf_token %} -->
                              <input type="text" class="form-control"  style="width:150px; display: initial;" placeholder="Nouveau jugement" aria-label="Jugement" aria-describedby="basic-addon2" id="name">
                                <a href="#" id="form-btn" class="btn btn-success btn-round">
                                    <i class="now-ui-icons ui-1_check"></i>
                                </a>
                            <!-- </form> -->
                            {% endif %}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Enregistrer et passer aux candidats
                    </button>
                    <!-- {% if state == "DR" %}
                    <a href="/election/launch/{{ election_id }}" class="btn btn-primary">
                        Lancer l'élection
                    </a>
                    {% elif state == "ST" %}
                    <a href="/election/close/{{ election_id }}" class="btn btn-primary">
                        Terminer l'élection
                    </a>
                    {% endif %}
                    <a  href="/election/manage/candidates/{{ election_id }}" class="btn btn-info">
                        Liste des candidats
                    </a>
                    <a  href="/election/manage/voters/{{ election_id }}" class="btn btn-info">
                        Liste des électeurs
                    </a> -->

                    </form>
                </div>
            </div>
        </div>


    </div>







</div>

<script>



function delete_grade() {
  var grade_id = $(this).attr('data-id-grade');
  $.ajax({
      url: '/election/manage/delete/grade/' + grade_id + '/',
      success: function (data) {
          if (data.error) {
              alert(data.error);
              $("#error").display   = "block";
              $("#error").innerHTML = data.error;
          } else {
              $(this).display = "none";
          }
      }
    });
}


function create_grade() {
  var name        = $("#name").val();
  var election_id = $("#election-id").val();
  $.ajax({
      url: '/election/manage/create/grade/ajax/',
      data: {
          'name':        name,
          'election_id': election_id
          },
      dataType: 'json',
      success: function (data) {
          if (data.error) {
              alert(data.error);
              $("#error").display   = "block";
              $("#error").innerHTML = data.error;
          } else {
              var form = $("#election-id");
              form.before('<a href="#"  class="btn {% if election.state == "DR" %}btn-info{% else %}btn-secondary{% endif %} btn-round grade" data-id-grade="'+data.id_grade+'">'+name+'</a>');
              form.trigger("reset");

              $( ".grade" ).click(function() {
                  var grade_id = $(this).attr('data-id-grade');
                  $(this).unbind('click');
                  $(this).click(delete_grade)
                  $( this ).attr('class', "btn btn-danger btn-round grade");
                  $( this ).html("Supprimer");
                  // $( this ).attr("href",);
                });
          }
      }
    });
}



{% if election.state == "DR" %}
  $( ".grade" ).click(function() {
      var grade_id = $(this).attr('data-id-grade');
      $(this).unbind('click');
      $(this).click(delete_grade);
      $( this ).attr('class', "btn btn-danger btn-round grade");
      $( this ).html("Supprimer");
      // $( this ).attr("href",);
    });


    $("#form-btn").click(delete_grade);

{% endif %}
</script>

{% endblock content %}
