{% extends 'base_page.html' %}
{% load static %}



{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">

    </div>
</div>
{% endblock panel-header %}


{% block javascript %}
<script src="{% static 'js/jquery-ui-1.12.1.custom/external/jquery/jquery.js' %}"></script>
  <script>
    $("#form-btn").click(function () {
        var name        = $("#name").val();
        var program     = $("#program").val();
        var election_id = $("#election-id").val();

        $.ajax({
            url: '/election/ajax/create_candidate/',
            data: {
                'name':           name,
                'program':        program,
                'election_id':    election_id
                },
            dataType: 'json',
            success: function (data) {
                if (data.error) {
                    alert(data.error);
                    $("#error").display   = "block";
                    $("#error").innerHTML = data.error;
                } else {
                    tr = $("#tr-create-candidate");
                    $("<tr><td>"+name+"</td><td>"+program+"</td><td><a href=\"/election/manage/delete_candidate/" + data.id_candidate + "/\" class=\"btn btn-info\">Supprimer</a></td></tr>").insertBefore(tr);
                    $("#form-create-candidate").trigger("reset");
                }
            }
        });

    });


    // $(".delete-btn").click(function () {
    //     var row = $(this).closest("tr");
    //     var id  = $(this).attr("id-candidate");
    //
    //     $.ajax({
    //         url: '/election/ajax/delete_candidate/' + id_candidate,
    //         data: {
    //             :   id,
    //             },
    //         dataType: 'json',
    //         success: function (data) {
    //             if (data.error) {
    //                 alert(data.error);
    //                 $("#error").display   = "block";
    //                 $("#error").innerHTML = data.error;
    //             } else {
    //                 form = $("#form-create-candidate")
    //                 $("<tr><td>"+name+"</td><td>"+program+"</td></tr>").insertBefore(form)
    //             }
    //         }
    //     });
    //
    // });
  </script>
{% endblock %}




{% block content %}
<div class="content">
    <div class="row">


        <!-- PARAMETERS -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Les candidats</h4>
                    <div class="progress">
                          <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25 %</div>
                    </div>
                </div>
                <div class="card-body">


                    <table class="table" id="table">
                        <thead class=" text-primary">
                            <th>Nom</th>
                            <!-- <th>
                                Photo
                            </th> -->
                            <th>
                                Programme
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            {% for candidate in candidates %}
                                <tr>
                                    <td>{{ candidate.user.first_name | title}} {{ candidate.user.last_name | title}}</td>
                                    <!-- <td>
                                    <a href="/candidate/{{ candidate.id }}" >
                                        <img src="{{ candidate.picture }}"  class="zone-pic" />
                                    </a>
                                    </td> -->
                                    <td>{{ candidate.program }}</td>
                                    <td><a href="/election/manage/delete_candidate/{{ candidate.id }}/" class="btn btn-info">Supprimer</a></td>
                                </tr>
                            {% endfor %}
                            <tr id="tr-create-candidate">
                                <form id="form-create-candidate" method="post"  data-id-election="{{ election.pk }}">
                                    <input type="hidden" id="election-id" name="election-id" value="{{ election.pk }}">
                                    {% csrf_token %}
                                <td>
                                    <div class="form-group">
                                        <input id="name" type="text" class="form-control" placeholder="Nom" value="">
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">

                                        <input id="program" type="text" class="form-control"  placeholder="Programme">
                                    </div>
                                </td>
                                <td>
                                    <a href="#" id="form-btn" class="btn btn-info">Ajouter</a>
                                </td>
                                </form>
                            </tr>
                        </tbody>
                    </table>


                    <a href="/election/manage/general/{{ election.pk }}" class="btn btn-primary">Gestion de l'élection</a>
                    <a href="/election/manage/voters/{{ election.pk }}" class="btn btn-info">Liste des électeurs</a>



                </div>
            </div>
        </div>





    </div>
</div>



{% endblock content %}
