{% load i18n %}
<div class="sidebar" id="sidebar" data-color="red">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="http://www.mieux-voter.org" class="simple-text logo-mini">
            MV
        </a>
        <a href="http://www.mieux-voter.org" class="simple-text logo-normal">
            Mieux Voter
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.resolver_match.url_name == "general" %}class="active"{% endif %}>
                <a href="/election/manage/general/{{ election.pk }}/">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>{% trans "Settings" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "candidates" %}class="active"{% endif %}>
                <a href="/election/manage/candidates/{{ election.pk }}/">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>{% trans "Candidates" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "voters" %}class="active"{% endif %}>
                <a href="/election/manage/voters/{{ election.pk }}/">
                    <i class="now-ui-icons files_box"></i>
                    <p>{% trans "Voters" %}</p>
                </a>
            </li>
            {% if election.state == "DR" %}
            <li {% if request.resolver_match.url_name == "launch_election" %}class="active"{% endif %}>
                <a href="/election/launch/{{ election.pk }}">
                    <i class="now-ui-icons media-1_button-play"></i>
                    <p>{% trans "Start" %}</p>
                </a>
            </li>
            {% elif election.state == "ST" %}
            <li {% if request.resolver_match.url_name == "close_election" %}class="active"{% endif %}>
                <a href="/election/close/{{ election.pk }}">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                    <p>{% trans "Finish" %}</p>
                </a>
            </li>
            {% endif %}
            <li {% if request.resolver_match.url_name == "results" %}class="active"{% endif %}>
                <a href="/results/{{ election.pk }}/">
                    <i class="now-ui-icons sport_trophy"></i>
                    <p>{% trans "Results" %}</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "dashboard" %}class="active"{% endif %}>
                <a href="/">
                    <i class="now-ui-icons business_chart-pie-36"></i>
                    <p>{% trans "Dashboard" %}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
