{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

    <div class="main-panel" style="width:100%;">


        {% block panel-header %}
        <div class="panel-header">
            <div class="header text-center">
                <h2 class="title">{% trans "Log in" %}</h2>

            </div>
        </div>
        {% endblock panel-header %}


{% block content %}
<div class="content">
    <div class="row">
        <div class="col-md-12">

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{% trans "Log in" %}</h4>
                </div>
                <div class="card-body">

                    <form role="form" method="post" action=".">
                    {% csrf_token %}

                    {% if form.errors %}
                    <p class="alert alert-danger">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        {% trans "The name and the password do not match" %}
                    </p>
                    {% endif %}

                    {% if next %}
                    {% if user.is_authenticated %}
                    <p>{% trans "You have no permission to acces to this page. Please log in with another account."%}</p>
                    {% else %}
                    <p>{% trans "Thanks to log in to access this page." %}</p>
                    {% endif %}

                    {% endif %}

                    <div class="form-group">
                        <!-- <a href="#" class="pull-right label-forgot">Email oublié?</a> -->
                        <label for="inputUsernameEmail">{% trans "Email" %}</label>
                        <input type="text" name="username" id="inputUsernameEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <!-- <a href="" class="pull-right label-forgot">Mot de passe oublié?</a> -->
                        <label for="inputPassword">{% trans "Password" %}</label>
                        <input type="password" name="password" id="inputPassword" class="form-control">
                    </div>

        			<div class="form-group">
        		                        <div class="checkbox">
                        		            <label><input type="checkbox">{% trans "Remember me" %}</label>
                                		</div>
        			</div>

                            <div class="row-block">
        			<div class="row">
        				<div class="col-md-12 row-block">
                                             <button class="btn btn-block btn-primary" type="submit" type="hidden" name="next" value="{{ next }}">
                                                   {% trans "Log in" %}
                                              </button>
        				</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 row-block">
                                        <a href="/accounts/signup/" class="btn btn-secondary btn-block" id="signup">{% trans "Create a new account" %}</a>
                                    </div>
                                </div>
                            </div>
        			</form>

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}
{% endblock %}
