{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- sidebar -->
    {% block sidebar %}
        {% if request.resolver_match.url_name == "dashboard" %}
            {% include "no-sidebar.html" %}
        {% elif voter %}
            {% include "vote/sidebar.html" %}
        {% elif supervisor %}
            {% include "election/sidebar.html" %}
        {% endif %}
    {% endblock sidebar %}

    <div id="content" class="main-panel
        {% if voter or supervisor or error %} slide-right {% endif %}">

        <!-- TOP NAVBAR -->
        {% block navbar %}
            {% include "navbar.html" %}
        {% endblock navbar %}

        <!-- panel header -->
        {% block panel-header %}
            {% include "panel-header.html" %}
        {% endblock panel-header %}


        <!-- content of page -->
        {% block content %}
        {% endblock %}




        <!-- FOOTER -->
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock footer %}
        <!-- / END OF FOOTER -->


    </div>
    <!--  END OF MAIN PANEL -->
{% endblock body %}
