<ul id="breadcrumb">
    <li>
        <span class="entypo-home"></span>
    </li>
    <li><i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li><a href="{{ link_1 }}" title="{{ bc_1 }}">{{ bc_1 }}</a>
    </li>
    {% if bc_2 %}
    <li><i class="fa fa-lg fa-angle-right"></i>
    </li>
    <li><a href="{{ link_2 }}" title="{{ bc_2 }}">{{ bc_2 }}</a>
    </li>
    {% endif %}
    <li class="pull-right">
        <div class="input-group input-widget">

            <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
        </div>
    </li>
</ul>
