{% extends 'base_page.html' %}
{% load static %}


{% block extra_styles %}
<style>
.main-panel {
    width:100%;
}
.navbar-toggle {
    display: none;
}
</style>
{% endblock extra_styles %}


{% block panel-header %}
<div class="panel-header">
    <div class="header text-center">

    </div>
</div>
{% endblock panel-header %}





{% block content %}
<div class="content">
    <div class="row">
        <!-- PARAMETERS -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Erreur</h4>

                </div>
                <div class="card-body">

                {{ error }}
                </div>
    </div>
</div>



{% endblock content %}
