{% load i18n %}
<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://www.mieuxvoter.fr">
                        Mieux Voter
                    </a>
                </li>
                <li>
                    <a href="#">
                        {% trans "About Us" %}
                    </a>
                </li>
                <li>
                    <a href="#">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <!-- <i class="fa-icons ui-2_settings-90"></i> -->
        </div>
    </div>
</footer>
