<div class="search-hover">
    <form id="demo-2">
        <input type="search" placeholder="Search Menu..." class="id_search">
    </form>
</div>




<div class="skin-part">
    <div id="tree-wrap">
        <div class="side-bar">
            <ul class="topnav menu-left-nest">
                <li>
                    <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                        <span>Supervision</span>
                    </a>
                </li>

                <li>
                    <a class="tooltip-tip ajax-load" href="/dashboard/" title="Social">
                        <i class="icon-graph-pie"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a class="tooltip-tip ajax-load" href="{% url 'robots' %}" title="Social">
                        <i class="icon-feed"></i>
                        <span> All Robots</span>
                        {% if robots %}
                        <div class="noft-blue" style="display: inline-block; float: none;">{{ robots.count }}</div>
                        {% endif %}
                    </a>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="/missions/" title="Media">
                        <i class="fa fa-bandcamp"></i>
                        <span>Missions</span>
                        {% if missions %}
                        <div class="noft-blue" style="display: inline-block; float: none;">{{ missions.count }}</div>
                        {% endif %}

                    </a>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="/maintenances/" title="Media">
                        <i class="fa fa-wrench"></i>
                        <span>Maintenance</span>
                        {% if maintenances %}
                        <div class="noft-blue" style="display: inline-block; float: none;">{{ maintenances.count }}</div>
                        {% endif %}

                    </a>
                </li>
                <li>
                    <a class="tooltip-tip ajax-load" href="/issues/" title="Media">
                        <i class="fa fa-exclamation-triangle"></i>
                        <span>Issues</span>
                        {% if issues_unsolved %}
                        <div class="noft-blue" style="display: inline-block; float: none;">{{ issues_unsolved }}</div>
                        {% endif %}

                    </a>
                </li>
            </ul>

            <ul class="topnav menu-left-nest">
                <li>
                    <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                        <span>Settings</span>
                    </a>
                </li>

                <li>
                    <a class="tooltip-tip ajax-load" href="/parameters" title="Parameters">
                        <i class="entypo-cog"></i>
                        <span>Parameters</span>


                    </a>
                </li>

                <li>
                    <a class="tooltip-tip ajax-load" href="/zones" title="Zones">
                        <i class="icon-window"></i>
                        <span>Zones</span>

                    </a>
                </li>


                <li>
                    <a class="tooltip-tip ajax-load" href="/users/" title="Icons">
                        <i class="fa fa-users"></i>
                        <span>Users</span>
                        <div class="noft-blue" style="display: inline-block; float: none;">{{ users.count }}</div>
                    </a>
                </li>

                <li>
                    <a class="tooltip-tip" href="#" title="Extra Pages">
                        <i class="fa fa-map-marker"></i>
                        <span>Map</span>
                    </a>
                </li>
            </ul>


        </div>
    </div>
</div>
