<div class="sidebar" data-color="red">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
-->
    <div class="logo">
        <a href="http://www.mieux-voter.org" class="simple-text logo-mini">
            MV
        </a>
        <a href="http://www.mieux-voter.org" class="simple-text logo-normal">
            Mieux Voter
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li {% if request.resolver_match.url_name == "vote" %}class="active"{% endif %}>
                <a href="/vote/">
                    <i class="now-ui-icons ui-1_email-85"></i>
                    <p>Voter</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "manage" %}class="active"{% endif %}>
                <a href="/election/dashboard/">
                    <i class="now-ui-icons files_box"></i>
                    <p>Élections</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "results" %}class="active"{% endif %}>
                <a href="/results/">
                    <i class="now-ui-icons sport_trophy"></i>
                    <p>Résultats</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "candidates" %}class="active"{% endif %}>
                <a href="/candidates/">
                    <i class="now-ui-icons design_bullet-list-67"></i>
                    <p>Candidats</p>
                </a>
            </li>
            <li {% if request.resolver_match.url_name == "user" %}class="active"{% endif %}>
                <a href="/voter/2">
                    <i class="now-ui-icons users_single-02"></i>
                    <p>Profil d'utilisateur</p>
                </a>
            </li>


        </ul>
    </div>
</div>
