<div class="row">
    <div id="paper-top">
        <div class="col-sm-3">
            <h2 class="tittle-content-header">
                <i class="icon-window"></i>
                <span>
                    {{ title_name }}

                </span>
            </h2>

        </div>

        <div class="col-sm-9">
            <div class="devider-vertical visible-lg"></div>
            <div class="tittle-middle-header">

                <div class="alert">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <span class="tittle-alert entypo-info-circled"></span>
                    Welcome back
                    <strong>
                    {% if user.first_name %}
                        &nbsp;{{ user.first_name|title }} {{ user.last_name|title }}
                    {% elif user.username %}
                        &nbsp;{{ user.username }}
                    {% endif %}
                    !
                    Your last sign-in at {{ user.last_login}}
                    </strong>
                    <!-- &nbsp;&nbsp;Your last sign in at {{ user.last_sign_in }} -->
                </div>


            </div>

        </div>
    </div>
</div>
