{% extends 'base.html' %}
{% load static %}


{% block extra_styles %}
<link rel="stylesheet" href="{% static 'dashboard/css/signin.css' %}" />
<style type="text/css">
.logout {
    margin-top: 50px;
}
</style>
{% endblock %}


{% block body %}
<div class="row logout">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {% include 'logo2.html' %}
        </div>

    </div>
    <div class="col-md-4 col-md-offset-4">
        <div class="account-box">
            <h2> Logged out! </h2>
            <a href="{% url 'login'%}">Click here to login again.</a>
        </div>
    </div>
</div>

{% include 'copyright.html' %}

{% endblock %}
