{% extends 'base.html' %} {% load static %} {% block extra_styles %}
<link rel="stylesheet" href="{% static 'dashboard/css/signin.css' %}"> {% endblock %} {% block body %}


<div class="container">

    <div class="" id="login-wrapper">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% include 'logo2.html' %}
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="account-box">

                    <form role="form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        {% if form.errors %}
                        <p class="alert alert-danger">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                            Your username and password didn't match. Please try again.
                        </p>
                        {% endif %}

                        {% if next %}
                        {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page.
                        To proceed, please login with an account that has access.</p>
                        {% else %}
                        <p>Please login to see this page.</p>
                        {% endif %}

                        {% endif %}

                        <div class="form-group">
                            <a href="#" class="pull-right label-forgot">Forgot email?</a>
                            <label for="inputUsernameEmail">Username or email</label>
                            <input type="text" name="username" id="inputUsernameEmail" class="form-control">
                        </div>
                        <div class="form-group">
                            <a href="{% url 'password_reset' %}" class="pull-right label-forgot">Forgot password?</a>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control">
                        </div>

			<div class="form-group">
		                        <div class="checkbox">
                		            <label><input type="checkbox">Remember me</label>
                        		</div>
			</div>		

                    <div class="row-block">
			<div class="row">
				<div class="col-md-12 row-block">
                                     <button class="btn btn-block btn-primary" type="submit" type="hidden" name="next" value="{{ next }}">
                                           Log In
                                      </button>
				</div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 row-block">
                                <a href="index.html" class="btn btn-secondary btn-block">Create New Account</a>
                            </div>
                        </div>
                    </div>
			</form>
                </div>
            </div>
        </div>
    </div>

    {% include 'copyright.html' %}

</div>
<div id="test1" class="gmap3"></div>



<!--  END OF PAPER WRAP -->




<!-- MAIN EFFECT -->
<script type="text/javascript" src="assets/js/preloader.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/load.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript" src="assets/js/map/gmap3.js"></script>
<script type="text/javascript">
    $(function() {

        $("#test1").gmap3({
            marker: {
                latLng: [-7.782893, 110.402645],
                options: {
                    draggable: true
                },
                events: {
                    dragend: function(marker) {
                        $(this).gmap3({
                            getaddress: {
                                latLng: marker.getPosition(),
                                callback: function(results) {
                                    var map = $(this).gmap3("get"),
                                        infowindow = $(this).gmap3({
                                            get: "infowindow"
                                        }),
                                        content = results && results[1] ? results && results[1].formatted_address : "no address";
                                    if (infowindow) {
                                        infowindow.open(map, marker);
                                        infowindow.setContent(content);
                                    } else {
                                        $(this).gmap3({
                                            infowindow: {
                                                anchor: marker,
                                                options: {
                                                    content: content
                                                }
                                            }
                                        });
                                    }
                                }
                            }
                        });
                    }
                }
            },
            map: {
                options: {
                    zoom: 15
                }
            }
        });

    });
</script>
{% endblock %}
